.readers.pages.index {
    .book-card{
        height: 550px;
        .header-image {
            height: 300px;
            background-size: cover;
            background-position: center;
        }
    }
}

.readers.books.show{
    .book-card{
        .header-image {
            max-width: 100%;
            height: 350px;
            background-size: cover;
            background-position: center;
        }
    }
}