.users{
    image{
        .img{
            max-width: 50%;
        }
    }
    .book-card{
        .header-img{
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
    }
    
}